@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@700&display=swap');



body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6;
}

.container{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    
}

h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    margin: 150px 0;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

header{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img/detoxcuresmoothie.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
}



header nav img{
    height: 60px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 30px;
}

#devise img{
    width: 60%;
    margin: 70px;
}

#devise{
    display: flex;
    align-items: center;
    
}

#methode{
    background: linear-gradient( pink, orange);
    text-align: center;
    color: white;
}

#methode img{
    padding-top: 40px;
}

#item {
    display: flex;
    justify-content: center;
}

#item ul{
    text-align: center;
}



footer{
    background-color: orange;
    text-align: center;
    color: white;
}

@media screen and (max-width: 780px) {

    #devise, #item{
        flex-direction: column;
        text-align: center;
    }
    }


